{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Добавить объект недвижимости</h2>

<form method="POST" class="card p-4">

<div class="mb-3">
<label class="form-label">Название</label>
<input class="form-control" type="text" name="title">
</div>

<div class="mb-3">
<label class="form-label">Тип</label>
<input class="form-control" type="text" name="type">
</div>

<div class="mb-3">
<label class="form-label">Цена</label>
<input class="form-control" type="number" name="price">
</div>

<div class="mb-3">
<label class="form-label">Площадь</label>
<input class="form-control" type="number" name="area">
</div>

<button class="btn btn-success">Добавить</button>

</form>

{% endblock %}